<h1 class="m-auto">update profile</h1>

<div class="container mt-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" d-flex flex-column justify-content-center align-items-center"> 
            <div class="btn btn-secondary rounded-circle">
                 <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
            </div> 
            <span class="name mt-3">Eman Salah</span> 
            <span >@emansalah95</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">01127266845</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class="text mt-3"> <span>Giza , Cairo , Egypt<br>
                <br> favourit payment method is Visa and credit card </span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined Jan,2022</span> </div>
        </div>
    </div>
</div>