<div class="container col-8 mt-3">
  <form name="productForm">
    <!-- https://m.media-amazon.com/images/I/41iBRYIQ6YL._AC_.jpg -->
    <div class="mb-3">
      <label for="nameInput" class="form-label">name</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        name="name"
        aria-describedby="nameHelp"
        [(ngModel)]="name"
      />
    </div>
    <div class="mb-3">
      <label for="priceInput" class="form-label">price</label>
      <input
        type="number"
        class="form-control"
        name="price"
        [(ngModel)]="price"
        id="priceInput"
      />
    </div>
    <div class="mb-3">
      <label for="quantityInpur" class="form-label">quantity</label>
      <input
        type="number"
        class="form-control"
        name="quantity"
        [(ngModel)]="quantity"
        id="quantityInpur"
      />
    </div>
    <div class="mb-3">
      <label for="categInput" class="form-label">category</label>
      <select
        class="form-control"
        name="category"
        id="categInput"
        [(ngModel)]="category"
      >
        <option value="1">mobile</option>
        <option value="2">ipad</option>
        <option value="3">tv</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="imageInput" class="form-label">image url</label>
      <input
        type="text"
        class="form-control"
        name="image"
        id="imageInput"
        [(ngModel)]="image"
      />
    </div>

    <button type="submit" class="btn btn-dark" (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>
