<div class="container col-8 mt-3">
  <form (ngSubmit)="onSubmit()" name="productForm" #productForm="ngForm">
    <div class="mb-3">
      <label for="nameInput" class="form-label">name</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        name="name"
        required
        pattern="[A-Za-z]{3,32}"
        aria-describedby="nameHelp"
        [(ngModel)]="product.name"
        #nameRef="ngModel"
      />
      <div>
        <small
          id="nameError"
          class="form-text text-danger"
          [hidden]="!nameRef.errors?.['required'] || nameRef.untouched">
          name is required *</small>
      </div>
      <small
        id="nameInvalid"
        class="form-text text-danger"
        [hidden]="!nameRef.errors?.['pattern'] || nameRef.untouched">name is invalid </small>
    </div>
    <div class="mb-3">
      <label for="priceInput" class="form-label">price</label>
      <input
        type="number"
        class="form-control"
        required
        min="1"
        name="price"
        [(ngModel)]="product.price"
        id="priceInput"
        #priceRef="ngModel"
      />
      <small
          id="nameError"
          class="form-text text-danger"
          [hidden]="!priceRef.errors?.['required'] || priceRef.untouched">
          price is required *<br/></small>
    </div>
    <div class="mb-3">
      <label for="quantityInpur" class="form-label">quantity</label>
      <input
        type="number"
        class="form-control"
        name="quantity"
        [(ngModel)]="product.quantity"
        id="quantityInpur"
        #QuantityRef="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="categInput" class="form-label">category</label>
      <select
        class="form-control"
        name="category"
        id="categInput"
        [(ngModel)]="product.categoryId"
        #categoryRef
      >
        <option value="1">mobile</option>
        <option value="2">ipad</option>
        <option value="3">tv</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="imageInput" class="form-label">image url</label>
      <input
        type="text"
        class="form-control"
        name="image"
        id="imageInput"
        [(ngModel)]="product.image"
        #imageRef
      />
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="productForm.invalid">
      Submit
    </button>
  </form>
</div>
